Activate Python virtual environment first and install all packages before running the notebook.

1. create a new virtual environment
```
python -m venv venv
```

2. activate the virtual environment
```
source venv/Scripts/activate
```

3. install packages
```
pip install -r requirements.txt
```

4. make sure your kernel is switched to the venv python kernel

Goal: Examine correlations between global,socially significant events and Bitcoin blockchain metrics (block congestion, price movement, metadata notes) over time.
Utilizing publick bitcoin blockchain datasets stored in bigquery
to begin, I installed the following libraries:
pip install google-cloud-bigquery pandas pyarrow

Once I started trying to communicate with bigquery database, I had to also install:
pip install db-dtypes
to help pandas understand how to display data types used in SQL like "DATE, TIMESTAMP, STRUCT,etc.

Tables used:
 
A. bigquery-public-data.crypto_bitcoin.blocks table
B. bigquery-public-data.crypto_bitcoin.transactions table

Note to myself, I need to send a slack message to Eileen with the content of my credentials file and tell her she needs this to run my project.

In [2]:
import sys
print(sys.executable)

c:\C drive Code You Projects\Code You Data Analyst Course Module 3\Module 3 Capstone Project\venv\Scripts\python.exe

In [3]:
from google.cloud import bigquery
import os
#Set the environement variable for key file (telling python where my login key file is)
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "Credentials/config.json"
#Start the BigQuery client using my key
client = bigquery.Client()

Due to data constraints, I decided to refine my dataset to focus on the 1 month period before/after covid lockdown took place in the US (March 1st 2020~March 30th 2020)
Due to issues to the original datasets I was working with (not having data for the date ranges I wanted), I need to change and update the list of tables I'm using

In [4]:
# Checking if the new table "crypto_bitcoin.blocks" has information for the timeperiod I'm looking for:
query_sample = """
SELECT *
FROM `bigquery-public-data.crypto_bitcoin.blocks`
LIMIT 5
"""

df_sample = client.query(query_sample).to_dataframe()
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   hash               5 non-null      object
 1   size               5 non-null      Int64
 2   stripped_size      5 non-null      Int64
 3   weight             5 non-null      Int64
 4   number             5 non-null      Int64
 5   version            5 non-null      Int64
 6   merkle_root        5 non-null      object
 7   timestamp          5 non-null      datetime64[us, UTC]
 8   timestamp_month    5 non-null      dbdate
 9   nonce              5 non-null      object
 10  bits               5 non-null      object
 11  coinbase_param     5 non-null      object
 12  transaction_count  5 non-null      Int64
dtypes: Int64(6), datetime64[us, UTC](1), dbdate(1), object(5)
memory usage: 682.0+ bytes

In [5]:
# Checking if the new table "crypto_bitcoin.blocks" has information for the timeperiod I'm looking for:
query_check_range = """
SELECT
  MIN(timestamp) AS start_date,
  MAX(timestamp) AS end_date
FROM `bigquery-public-data.crypto_bitcoin.blocks`
"""

df_range = client.query(query_check_range).to_dataframe()
df_range

                 start_date                  end_date
0 2009-01-03 18:15:05+00:00 2025-08-03 13:48:08+00:00

so we made sure the information in the crypto_bitcoin.blocks table has block information starting 2009~today.
now checking the type of information obtained on the crypto_bitcoin.transactions table:

In [6]:
# Now checking to make sure there's enough data during Jan-June 2020 in the transactions table:
query_row_count = """
SELECT COUNT(*) as transaction_count
FROM `bigquery-public-data.crypto_bitcoin.transactions`
WHERE block_timestamp BETWEEN '2020-01-01' AND '2020-06-30'
"""
df_row_count = client.query(query_row_count).to_dataframe()
print(df_row_count)

   transaction_count
0           54643498

Since I found out the bitcoin transactions table for Jan~June of 2020 goes up to 54 Million rows, I tried narrowing my dataset to March of 2020, which was the most significant month for financial and social impact. After checking the number of rows of transactions during March 2020 adds up to 10 Million rows, I decided to extract a sample of 100K rows of data.

In [17]:
# Getting a sample (100k rows) of data from the bitcoin transactions table for March 2020:
query_transactions_march_2020 = """
SELECT *
FROM `bigquery-public-data.crypto_bitcoin.transactions`
WHERE block_timestamp BETWEEN '2020-03-01' AND '2020-03-31 23:59:59'
LIMIT 100000
"""
df_transactions = client.query(query_transactions_march_2020).to_dataframe()
df_transactions.info()
df_transactions.head(45)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   hash                   100000 non-null  object
 1   size                   100000 non-null  Int64
 2   virtual_size           100000 non-null  Int64
 3   version                100000 non-null  Int64
 4   lock_time              100000 non-null  Int64
 5   block_hash             100000 non-null  object
 6   block_number           100000 non-null  Int64
 7   block_timestamp        100000 non-null  datetime64[us, UTC]
 8   block_timestamp_month  100000 non-null  dbdate
 9   input_count            100000 non-null  Int64
 10  output_count           100000 non-null  Int64
 11  input_value            99966 non-null   object
 12  output_value           100000 non-null  object
 13  is_coinbase            100000 non-null  boolean
 14  fee                    100000 non-null  object
 15  inputs                 100000 non-null  object
 16  outputs                100000 non-null  object
dtypes: Int64(7), boolean(1), datetime64[us, UTC](1), dbdate(1), object(7)
memory usage: 13.1+ MB

,hash,size,virtual_size,version,lock_time,block_hash,block_number,block_timestamp,block_timestamp_month,input_count,output_count,input_value,output_value,is_coinbase,fee,inputs,outputs
0,1807841875a802a3d02ece2b1eca412426ac69233d2b7c...,290,263,1,0,00000000000000000002b63ce4c3915ffa104758a2c706...,623708,2020-03-31 04:00:16+00:00,2020-03-01,0,3,None,1253801761.000000000,True,0E-9,[],"[{'index': 0, 'script_asm': 'OP_DUP OP_HASH160..."
1,0d2597f7a973c2bda367b1357b985a3a23f6dd82b642bd...,291,264,2,0,000000000000000000048f5aa966c579bfce03dddee82f...,620192,2020-03-04 19:43:52+00:00,2020-03-01,0,3,None,1263769854.000000000,True,0E-9,[],"[{'index': 0, 'script_asm': 'OP_HASH160 f870b7..."
2,1f2279feb9f63ecdf5180f00c91b7473283cf1f41f2558...,295,268,2,0,00000000000000000007d634a1052c87f2b40f5c9c0289...,620854,2020-03-08 22:23:24+00:00,2020-03-01,0,3,None,1253662783.000000000,True,0E-9,[],"[{'index': 0, 'script_asm': 'OP_HASH160 804afd..."
3,671d4dc5d3f9ee15260ceceba7899567535e09efd0da9e...,300,273,1,0,000000000000000000007e499b0c4618b3c3322331229a...,622754,2020-03-24 09:27:14+00:00,2020-03-01,0,3,None,1261885807.000000000,True,0E-9,[],"[{'index': 0, 'script_asm': 'OP_DUP OP_HASH160..."
4,65d1cdc2261936f4ab4fa8710482d08a9a9ff0371ea3b6...,300,273,1,0,00000000000000000005e5ce8fccfd628117703cd3f841...,623392,2020-03-29 02:02:21+00:00,2020-03-01,0,3,None,1266736175.000000000,True,0E-9,[],"[{'index': 0, 'script_asm': 'OP_DUP OP_HASH160..."
5,0d341688fce422327455104d42cab4673613d35960b4b7...,300,273,1,0,0000000000000000000b676f2eecde60357e15e003b51f...,620816,2020-03-08 15:17:10+00:00,2020-03-01,0,3,None,1268917534.000000000,True,0E-9,[],"[{'index': 0, 'script_asm': 'OP_DUP OP_HASH160..."
6,9f88f467cb6aa7c0cdfb8adbe6ed7c30add41f6d606528...,377,350,1,1026257737,000000000000000000047084cad466b17be99f04dd7bca...,622976,2020-03-26 07:51:27+00:00,2020-03-01,0,4,None,1313383125.000000000,True,0E-9,[],"[{'index': 0, 'script_asm': 'OP_DUP OP_HASH160..."
7,03de8288bb8b1225402003c16fff24c0bc0e108cb28a65...,377,350,1,1034436705,000000000000000000015446d101bac1fde0a1408adee6...,622693,2020-03-23 22:03:14+00:00,2020-03-01,0,4,None,1301088826.000000000,True,0E-9,[],"[{'index': 0, 'script_asm': 'OP_DUP OP_HASH160..."
8,6a5ea2df30bf48910deecc1259931971b29cfc2248b94a...,377,350,1,1016828764,0000000000000000000346eec19720bd22137b54719dbe...,619897,2020-03-02 22:35:55+00:00,2020-03-01,0,4,None,1264605335.000000000,True,0E-9,[],"[{'index': 0, 'script_asm': 'OP_DUP OP_HASH160..."
9,258ed361e7844ea0ce292d9b3155c047d8bbd54d11dc23...,343,262,1,0,00000000000000000009092d290dd9495c1c08d89de9a9...,623056,2020-03-26 17:58:07+00:00,2020-03-01,1,5,1598870.000000000,1577211.000000000,False,21659.000000000,"[{'index': 0, 'spent_transaction_hash': '189a8...","[{'index': 0, 'script_asm': 'OP_HASH160 8f6cdc..."
10,53e36703e82b90ddb14d4e2600a4ad28686d588c87d1dd...,343,262,1,0,000000000000000000036338652cd2afb0aeb9c220ed59...,620711,2020-03-08 01:14:59+00:00,2020-03-01,1,5,5242505.000000000,5232505.000000000,False,10000.000000000,"[{'index': 0, 'spent_transaction_hash': '5a774...","[{'index': 0, 'script_asm': 'OP_HASH160 996922..."
11,f6b2e70e50c44da5d43712620b901b7eaa043454593464...,344,262,1,0,0000000000000000000514b812f6b8e66a9b032562d2e8...,620495,2020-03-06 17:19:47+00:00,2020-03-01,1,5,2162689.000000000,2152689.000000000,False,10000.000000000,"[{'index': 0, 'spent_transaction_hash': 'cb115...","[{'index': 0, 'script_asm': 'OP_HASH160 0f4e5f..."
12,c16f879567157327ad621edf7836f6c1df8843348d97eb...,344,262,1,0,000000000000000000013022063b7191192fba4c6403e1...,620024,2020-03-03 18:09:17+00:00,2020-03-01,1,5,2451619.000000000,2441619.000000000,False,10000.000000000,"[{'index': 0, 'spent_transaction_hash': '2421e...","[{'index': 0, 'script_asm': 'OP_HASH160 77671d..."
13,81e0826cc0fd06122b24c6af8f9e2021951c6c634d1e46...,345,264,1,0,0000000000000000000d3ce7450334da05ca06a8483111...,621642,2020-03-14 18:33:40+00:00,2020-03-01,1,5,3169200.000000000,3137567.000000000,False,31633.000000000,"[{'index': 0, 'spent_transaction_hash': 'ed66e...","[{'index': 0, 'script_asm': 'OP_HASH160 c016ff..."
14,334426964fb65e9a1da8034d2df5238b4fe304a7998bfe...,346,264,1,0,0000000000000000000a695e26cb0cbbfe716c1bcbc6ca...,619833,2020-03-02 11:50:36+00:00,2020-03-01,1,5,6731152.000000000,6721152.000000000,False,10000.000000000,"[{'index': 0, 'spent_transaction_hash': 'c4ebd...","[{'index': 0, 'script_asm': 'OP_HASH160 74788b..."
15,ff046259acc99c450ee330267e31cec9b7d364b3c7c3bc...,349,268,2,0,0000000000000000000c2e90156293b69caf30b978f34a...,622325,2020-03-20 19:16:19+00:00,2020-03-01,1,5,276432330.000000000,276404778.000000000,False,27552.000000000,"[{'index': 0, 'spent_transaction_hash': '4b20d...","[{'index': 0, 'script_asm': 'OP_HASH160 c30258..."
16,943c89dd30072b6545a2b20ee719ce672d034c990eeb64...,275,275,2,622170,0000000000000000000a8245984aeb4a5d422b225bb6f0...,622171,2020-03-19 09:28:12+00:00,2020-03-01,1,1,550000.000000000,517600.000000000,False,32400.000000000,"[{'index': 0, 'spent_transaction_hash': '128e0...","[{'index': 0, 'script_asm': 'OP_DUP OP_HASH160..."
17,36c85c2606b67a662dbf7899386e2b4abb041c35231058...,375,294,1,0,00000000000000000010a1d6eb4e8ceaabe4dd1436b51b...,623148,2020-03-27 08:44:53+00:00,2020-03-01,1,6,2943120.000000000,2924519.000000000,False,18601.000000000,"[{'index': 0, 'spent_transaction_hash': '45687...","[{'index': 0, 'script_asm': 'OP_HASH160 81168b..."
18,66f99e113e83de13f7a00c2208f9fcbe9875958144934c...,376,294,1,0,00000000000000000006931b6e2c081302b60e54ec0da4...,621607,2020-03-14 11:37:44+00:00,2020-03-01,1,6,4100955.000000000,4064101.000000000,False,36854.000000000,"[{'index': 0, 'spent_transaction_hash': 'c251d...","[{'index': 0, 'script_asm': 'OP_HASH160 2275cf..."
19,265d0ed5dae4c9705d211f19c4d6dd236b4704123d4679...,376,294,1,0,0000000000000000000560a9ed85b79a3d78ecb8ffaa4c...,621320,2020-03-12 08:30:31+00:00,2020-03-01,1,6,2811373.000000000,2799967.000000000,False,11406.000000000,"[{'index': 0, 'spent_transaction_hash': 'ee8db...","[{'index': 0, 'script_asm': 'OP_HASH160 fb3791..."
20,c248cc0bfafdf19c981d2eee96eb2e673044733baf2623...,380,298,1,0,0000000000000000000b5805d6022978f4d4068585fc99...,621934,2020-03-17 08:02:36+00:00,2020-03-01,1,6,22719138.000000000,22700968.000000000,False,18170.000000000,"[{'index': 0, 'spent_transaction_hash': 'c509a...","[{'index': 0, 'script_asm': 'OP_HASH160 6cdcee..."
21,b817cb77090e0056c62406d5ce1fc37e48cf23de500d9d...,407,326,1,0,00000000000000000000092c045756dba8c9bfa7676da2...,621228,2020-03-11 16:18:11+00:00,2020-03-01,1,7,28299397.000000000,28289397.000000000,False,10000.000000000,"[{'index': 0, 'spent_transaction_hash': '9118e...","[{'index': 0, 'script_asm': 'OP_HASH160 0d84a5..."
22,78a9f4af7549d2ebe3cacd2dccdac5957dbca5f8cfc3eb...,408,326,1,0,00000000000000000006445bd52ffd57da343f930647de...,619887,2020-03-02 20:35:46+00:00,2020-03-01,1,7,7325197.000000000,7315197.000000000,False,10000.000000000,"[{'index': 0, 'spent_transaction_hash': '1ac9e...","[{'index': 0, 'script_asm': 'OP_HASH160 1983cd..."
23,f63de998f0acc8325b1a573fa646a197a62e77b680f82b...,418,337,2,0,000000000000000000093e5534be17a59f7dd9cd71e7a6...,621371,2020-03-12 16:40:08+00:00,2020-03-01,1,8,8251610726.000000000,8251589887.000000000,False,20839.000000000,"[{'index': 0, 'spent_transaction_hash': 'a6948...","[{'index': 0, 'script_asm': 'OP_HASH160 0bea30..."
24,06371ab24ce5870808ed0cd361d3943be5e54888174da8...,505,340,1,0,0000000000000000000af4fbf3ec11febb61f11633c9c3...,622550,2020-03-22 15:08:12+00:00,2020-03-01,1,6,540091008.000000000,540069344.000000000,False,21664.000000000,"[{'index': 0, 'spent_transaction_hash': '99580...","[{'index': 0, 'script_asm': 'OP_HASH160 0527c3..."
25,85fdbfedd370b2da4c2ae2e9a946d01015b98621a2a8fe...,769,604,1,0,00000000000000000001d781ee8b3338e5a4f8f47918ef...,620532,2020-03-06 22:38:50+00:00,2020-03-01,1,14,474512021.000000000,474487921.000000000,False,24100.000000000,"[{'index': 0, 'spent_transaction_hash': 'dfa66...","[{'index': 0, 'script_asm': 'OP_HASH160 26e477..."
26,77e388061145795c66eda7efb95cc47af23db0c99447bd...,773,608,1,0,00000000000000000001bebc3ebc0bf7107a097777b4b4...,621964,2020-03-17 14:00:57+00:00,2020-03-01,1,14,830402758.000000000,830351812.000000000,False,50946.000000000,"[{'index': 0, 'spent_transaction_hash': '9e38a...","[{'index': 0, 'script_asm': 'OP_HASH160 b6a415..."
27,b6c764bf245a2a46b57805082887f02027ac1564ff9e47...,440,358,1,0,00000000000000000012401a962c1dbde53f4c606ab580...,623460,2020-03-29 13:17:03+00:00,2020-03-01,1,8,16798897.000000000,16779691.000000000,False,19206.000000000,"[{'index': 0, 'spent_transaction_hash': 'b5fac...","[{'index': 0, 'script_asm': 'OP_HASH160 30a953..."
28,9f397fd1ed3b3e5b4eb201ed52ff07637cd4cae5e0778a...,192,110,2,0,0000000000000000000d66944b204f7bdb5e11b9dbfdfb...,623662,2020-03-30 21:28:56+00:00,2020-03-01,1,1,823028.000000000,821967.000000000,False,1061.000000000,"[{'index': 0, 'spent_transaction_hash': '98b82...","[{'index': 0, 'script_asm': '0 f1af8c226dc54a1..."
29,2076558ee834ce13b5802951e932ad35d81566bc29cace...,191,110,2,620185,0000000000000000000792556e48d50ccb41e3ead99e9b...,620186,2020-03-04 18:46:57+00:00,2020-03-01,1,1,855296.000000000,853551.000000000,False,1745.000000000,"[{'index': 0, 'spent_transaction_hash': '84c4e...","[{'index': 0, 'script_asm': '0 7724db7b6d20a67..."
30,5769095212b3ae28dd6a4e31bacb6172a23b85d875ee6a...,192,110,2,621014,000000000000000000037c1199faa63ed569828882f2df...,621016,2020-03-10 01:04:06+00:00,2020-03-01,1,1,2246704.000000000,2244497.000000000,False,2207.000000000,"[{'index': 0, 'spent_transaction_hash': '21ba3...","[{'index': 0, 'script_asm': '0 9866c11faadd7f8..."
31,d09ad52b9926a3b95a5a28f71e222e33bdcab9451edb30...,191,110,2,621037,0000000000000000000d9406f0e99c76ca0010506141b9...,621038,2020-03-10 04:47:07+00:00,2020-03-01,1,1,1996358.000000000,1995480.000000000,False,878.000000000,"[{'index': 0, 'spent_transaction_hash': '09aa6...","[{'index': 0, 'script_asm': '0 cface12b3d5d6d8..."
32,48f90327b768a25517f54d61efde9be65034cbd32a4dca...,192,111,1,0,0000000000000000000c355abc8c2ac7decec117682be4...,622345,2020-03-21 00:43:16+00:00,2020-03-01,1,1,960000.000000000,943296.000000000,False,16704.000000000,"[{'index': 0, 'spent_transaction_hash': 'e000a...","[{'index': 0, 'script_asm': 'OP_HASH160 127049..."
33,37f24dc219af54d2e6d27181628445c643ae112efb7e1b...,192,111,2,0,000000000000000000065543aa60eca82aa7402aa3e9cc...,621874,2020-03-16 18:15:05+00:00,2020-03-01,1,1,83173.000000000,75655.000000000,False,7518.000000000,"[{'index': 0, 'spent_transaction_hash': '8d18f...","[{'index': 0, 'script_asm': 'OP_HASH160 d3dc2e..."
34,2098efafcc400b2d204485efee8166ffddec13450a364b...,192,111,1,0,00000000000000000006531097149b06a1d741777d2fa1...,621242,2020-03-11 18:46:55+00:00,2020-03-01,1,1,454044.000000000,449500.000000000,False,4544.000000000,"[{'index': 0, 'spent_transaction_hash': '44631...","[{'index': 0, 'script_asm': 'OP_HASH160 bd83e3..."
35,f65e47f0ed0d3217aca61bb985344280dbdff12d90f830...,193,111,1,0,0000000000000000000c83c0e597a222924759496bf0f0...,621923,2020-03-17 05:14:19+00:00,2020-03-01,1,1,9334000.000000000,9320752.000000000,False,13248.000000000,"[{'index': 0, 'spent_transaction_hash': 'c572d...","[{'index': 0, 'script_asm': 'OP_HASH160 f81398..."
36,cf9678e3c814b966c3bf09103b998847974631dccd809e...,192,111,1,0,000000000000000000095f3501800b0c65c04f2579f669...,621374,2020-03-12 17:07:21+00:00,2020-03-01,1,1,14988.000000000,3084.000000000,False,11904.000000000,"[{'index': 0, 'spent_transaction_hash': '19b75...","[{'index': 0, 'script_asm': 'OP_HASH160 825d67..."
37,1fb8f46aae27748072c996796feac6ec19870c49bc55a7...,195,113,1,0,0000000000000000000e63603e79b23f6201d41931f92b...,621030,2020-03-10 03:16:44+00:00,2020-03-01,1,1,33853.000000000,29821.000000000,False,4032.000000000,"[{'index': 0, 'spent_transaction_hash': '30bc4...","[{'index': 0, 'script_asm': 'OP_DUP OP_HASH160..."
38,5c040dad82e88732243ba9df3ef151ef7f629a049da7fa...,534,369,1,0,00000000000000000006ab40f9a539557391ddbb3e1899...,623466,2020-03-29 14:19:12+00:00,2020-03-01,1,7,18570000.000000000,18555260.000000000,False,14740.000000000,"[{'index': 0, 'spent_transaction_hash': 'f04ce...","[{'index': 0, 'script_asm': 'OP_HASH160 852db4..."
39,3d5599efe05d508a74af4f303c3017d81274e0fda35fd2...,535,370,1,0,0000000000000000000f813e7f23162e1a647cd07a4851...,622126,2020-03-18 23:53:59+00:00,2020-03-01,1,7,448480027.000000000,448434333.000000000,False,45694.000000000,"[{'index': 0, 'spent_transaction_hash': 'bf772...","[{'index': 0, 'script_asm': 'OP_HASH160 027b51..."
40,8097ea9d03683e507dad1c88dc429e8284eb9af8d8cafd...,216,134,2,0,0000000000000000000b8b901b05262877267400604f1f...,622664,2020-03-23 16:09:54+00:00,2020-03-01,1,1,1480128.000000000,1469887.000000000,False,10241.000000000,"[{'index': 0, 'spent_transaction_hash': '4d8a8...","[{'index': 0, 'script_asm': 'OP_HASH160 d36dd9..."
41,dd3e1ca142c0d1aee9421f01b34b8a4a3a54b349e67e4b...,215,134,2,0,0000000000000000001029ac486931814a6099e3d01110...,621035,2020-03-10 04:09:26+00:00,2020-03-01,1,1,370793.000000000,366800.000000000,False,3993.000000000,"[{'index': 0, 'spent_transaction_hash': '6aea9...","[{'index': 0, 'script_asm': 'OP_HASH160 5d51bd..."
42,0ccfe4f095f0952776bcc17b5be1cee30cb5fe406a9b63...,215,134,2,0,0000000000000000000b000e603b45e2d0ddf0e6fa38a9...,621460,2020-03-13 09:11:29+00:00,2020-03-01,1,1,3657439.000000000,3650523.000000000,False,6916.000000000,"[{'index': 0, 'spent_transaction_hash': 'c343b...","[{'index': 0, 'script_asm': 'OP_HASH160 9c4cb0..."
43,e6b908e8ce4fe83991972ef0c8c95a9149e7f13e6e0461...,217,136,2,0,0000000000000000000ed44658b57070aa5180208a24dd...,622224,2020-03-19 21:38:38+00:00,2020-03-01,1,1,38072.000000000,27299.000000000,False,10773.000000000,"[{'index': 0, 'spent_transaction_hash': 'aa227...","[{'index': 0, 'script_asm': 'OP_DUP OP_HASH160..."
44,d5f41e3a0df6a00e0be456995fd9036aa32a1ac8a290c5...,297,136,2,620731,0000000000000000000ab4060b2aefdfa5494f8850ef3e...,620732,2020-03-08 05:15:17+00:00,2020-03-01,1,1,3998000.000000000,3997862.000000000,False,138.000000000,"[{'index': 0, 'spent_transaction_hash': 'e25e5...","[{'index': 0, 'script_asm': '0 afabd22545da757..."

In [8]:
(df_transactions['block_timestamp'].min(), df_transactions['block_timestamp'].max())

(Timestamp('2020-03-01 00:04:03+0000', tz='UTC'),
 Timestamp('2020-03-31 23:51:06+0000', tz='UTC'))

In [9]:
# doing a small check to see if I can join things on the blocks and transactions table:
query_join_test = """
SELECT
  t.hash AS transaction_id,
  t.block_number,
  b.hash AS block_hash,
  b.timestamp AS block_time,
  t.fee,
  t.input_value,
  t.output_value
FROM
  `bigquery-public-data.crypto_bitcoin.transactions` t
JOIN
  `bigquery-public-data.crypto_bitcoin.blocks` b
ON
  t.block_number = b.number
WHERE
  t.block_timestamp BETWEEN '2020-01-01' AND '2020-06-30'
LIMIT 10
"""
df_join_test = client.query(query_join_test).to_dataframe()
df_join_test.head()

,transaction_id,block_number,block_hash,block_time,fee,input_value,output_value
0,a25aeee1ab0e62e390c67ab74e275c454ac517f0407e01...,623188,0000000000000000000c4442bab4c000caed889421dd76...,2020-03-27 13:41:00+00:00,0E-9,None,1309076561.000000000
1,dcc79d2db529e1b54cf8e00748a997db9ed79c90e3206c...,622186,000000000000000000090743c7ca9ebc0f825b6534b257...,2020-03-19 11:47:28+00:00,0E-9,None,1338316144.000000000
2,2a6a36c9c38c77d2e94a0d1845593cd5c2de62ac1f28da...,623193,00000000000000000012cb92f8e92fc9891b48a83e7b86...,2020-03-27 14:50:19+00:00,0E-9,None,1299735368.000000000
3,edbcb6893cc0b8e9708a415c63b1dbe134bb42a3aad721...,623294,00000000000000000012cc8d60b7a7e3b7ae9f42b3fbfe...,2020-03-28 06:23:34+00:00,0E-9,None,1250053273.000000000
4,5d31a1410788db81951338e83bfbc439f32729347e7a8b...,621829,00000000000000000003617efd8d2e710ae44626775845...,2020-03-16 08:56:54+00:00,0E-9,None,1338441199.000000000

In [10]:
# SQLite start
import sqlite3

In [11]:
# Connecting to a new SQLite database to create a file for my dataset
connection = sqlite3.connect("bitcoin_data.db")

In [14]:
# Saving the blocks DataFrame into the bitcoin_data.db database as a new table called "blocks"
table_name = "blocks"
data = df_blocks
# Writing the data in df_blocks to the database
data.to_sql(
        name = table_name,
        con = connection,
        if_exists = "replace",
        index = False
)

NameError: name 'df_blocks' is not defined

In [ ]:
# Feature engineering 1 - Converting block timestamp row to extract an hour within the day time column
# This is to extrat the transaction hour out of the data (100K rows of transactions that took place during March 2020) I have
df_transactions['tx_hour'] = df_transactions['block_timestamp'].dt.hour

In [ ]:
# Feature engineering 2 - extracting the fee_rate of the individual transactions that took place out of the 100K rows of transactions that were isolated for the dataset
# This is to calculate the efficiency (how much the sender spent in total BTC amount to send the intended amount of BTC to the recipient): This extracts the "fee rate" or the % amount of BTC paid to the miner in that transaction
# df_transactions['fee_rate'] = df_transactions['fee'] / df_transactions['input_value']
# Since there were small number of rows that returned the value "None" in the "input_value" I modified my code to avoid dividing by 0 or "None"
def calculate_fee_rate(row):
    fee = row['fee']
    input_value = row['input_value']
    
    if input_value in [0, None]:  # To avoid divide by 0 or None
        return None
    else:
        return fee / input_value

df_transactions['fee_rate'] = df_transactions.apply(calculate_fee_rate, axis=1)

In [22]:
# Feature engineering 3 - extracting the value difference the individual transactions that took place out of the 100K rows of transactions that were isolated for the dataset
# This is to calculate the difference of how much the sender spent in total BTC amount to send the intended amount of BTC to the recipient to isolate the "fee" or the amount of BTC paid to the miner in that transaction
# df_transactions['value_diff'] = df_transactions['output_value'] - df_transactions['input_value']
# Since there were small number of rows that returned the value "None" in the "input_value" I modified my code to avoid calculation that uses "None"
def calculate_value_diff(row):
    input_val = row['input_value']
    output_val = row['output_value']
    
    if input_val is None or output_val is None:
        return None
    else:
        return output_val - input_val

df_transactions['value_diff'] = df_transactions.apply(calculate_value_diff, axis=1)

In [23]:
df_transactions[['input_value', 'output_value', 'value_diff']].head(10)

         input_value          output_value        value_diff
0               None  1253801761.000000000              None
1               None  1263769854.000000000              None
2               None  1253662783.000000000              None
3               None  1261885807.000000000              None
4               None  1266736175.000000000              None
5               None  1268917534.000000000              None
6               None  1313383125.000000000              None
7               None  1301088826.000000000              None
8               None  1264605335.000000000              None
9  1598870.000000000     1577211.000000000  -21659.000000000